# Copy me to /etc/xdg/autostart and /usr/share/applications
[Desktop Entry]
Type=Application
Name=Welcome
Exec=/usr/bin/opensuse-welcome
Icon=org.opensuse.opensuse_welcome
Comment=The openSUSE Welcome utility.
Categories=Qt;System;Documentation
GenericName=Welcome Utility
# Spanish translation
Name[es]=Bienvenida
Comment[es]=La utilidad de bienvenida de openSUSE.
GenericName[es]=Utilidad de bienvenida
# French translation
Name[fr]=Bienvenue
Comment[fr]=Utilitaire de bienvenue
GenericName[fr]=L'utilitaire de bienvenue d'openSUSE.
