<!DOCTYPE html>
<html lang="en" ng-app="welcome">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="lens://css/lens.css" rel="stylesheet" media="screen">
  <link href="app://css/app.css" rel="stylesheet" media="screen">
</head>
<body class="unselectable" ng-controller="WelcomeCtrl">
  <div class="page-container">
    <nav id="korobar" class="navbar navbar-default navbar-empty" role="navigation"></nav>

    <div class="page-content no-nav" ng-view></div>
  </div>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
            <checkbox ng-model="autostart" ng-click="updateAutoStart()">Show this dialog next session startup.</checkbox>
        </div>
        <div class="col-sm-4 text-right">
          <button id="close" class="btn btn-dark" ng-click="close()">Close</button>
        </div>
      </div>
    </div>
  </footer>

  <script src="lens://js/lens-angular.min.js"></script>
  <script src="app://js/app.js"></script>
</body>
</html>
