<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="lens://css/font-awesome.css" rel="stylesheet" media="screen">
  <link href="app://css/lens-ui.css" rel="stylesheet" media="screen">
  <link href="app://theme/dist/css/chameleon.css" rel="stylesheet" media="screen">
  <link href="app://css/app.css" rel="stylesheet" media="screen">
  <meta http-equiv="Access-Control-Allow-Origin" content="*"> 
</head>
<body ng-controller="WelcomeCtrl">
  <div id="content" class="page-content no-nav">
  <div class="sticky-top">
    <div class="breadcrumb py-0 d-flex justify-content-between align-items-center">
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item active"><a href="app://home.html"><i class="fa fa-home"> </i>Home</a></li>
            <li class="breadcrumb-item active">Read Me</li>
        </ol>
    </div>
</div>
<div class="container">
      <h2 id="installing-extras">Installing Extras</h2>
<p>There are certain proprietary drivers (such as nvidia) and packages (such as Google Chrome) that Korora cannot include by default. If you have an nvidia device and wish to use the proprietary drivers then enter following command at a terminal:</p>

<div class="highlighter-rouge"><div class="highlight"><pre class="highlight"><code>$ sudo dnf install akmod-nvidia
</code></pre></div></div>

<p>To install Google Chrome, just use the system’s package manager. We can’t distribute it, but we have included the repository to make it easy for you to install.</p>

<p>Looking for Skype? We cannot ship this either and unfortunately we also can’t make it easier like Google Chrome as there is no repository. However, just head over to <a class="" ng-click="openURI('https://skype.com')" href=""><i class="fa fa-external-link"> Skype’s website</i></a>
 to download the 32 bit RPM package for Fedora and double-click it to install. The package manager will take care of the dependencies for you, even if you’re running a 64 bit system.</p>

</div>

  </div>
  <footer class="bg-dark keep-bottom p-3 text-white">
      <div class="d-flex justify-content-between align-items-center">
        <div>
            <div class="btn-group">
    
    <button class="btn btn-sm btn-reddit" ng-click="openURI('https://reddit.com/r/openSUSE')"><i class="fa fa-fw fa-reddit"></i></button>
    
    <button class="btn btn-sm btn-facebook" ng-click="openURI('https://facebook.com/en.openSUSE')"><i class="fa fa-fw fa-facebook"></i></button>
    
    <button class="btn btn-sm btn-twitter" ng-click="openURI('https://twitter.com/openSUSE')"><i class="fa fa-fw fa-twitter"></i></button>
    
    <button class="btn btn-sm btn-google-plus" ng-click="openURI('https://plus.google.com/u/0/+openSUSE')"><i class="fa fa-fw fa-google-plus"></i></button>
    
</div>

        </div>
        <div class="d-flex">
          <checkbox class="btn btn-sm btn-link text-white" ng-model="autostart" ng-click="updateAutoStart()" lang="en">Show on next startup</checkbox>
          <button id="close" class="btn btn-sm btn-danger ml-3" ng-click="close()" lang="en"><i class="fa fa-times"></i> Close</button>
        </div>
      </div>
  </footer>
  <script src="app://theme/dist/js/chameleon.js"></script>
  <script src="app://js/jquery-lang.js"></script>
  <script src="app://js/jquery.rss.js"></script>
  <script src="app://js/search_methods.js"></script>
  <script src="lens://js/lens-angular.min.js"></script>
  <script src="app://js/app.js"></script>
</body>
</html>
