<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="lens://css/font-awesome.css" rel="stylesheet" media="screen">
  <link href="app://css/lens-ui.css" rel="stylesheet" media="screen">
  <link href="app://theme/dist/css/chameleon.css" rel="stylesheet" media="screen">
  <link href="app://css/app.css" rel="stylesheet" media="screen">
  <meta http-equiv="Access-Control-Allow-Origin" content="*"> 
</head>
<body ng-controller="WelcomeCtrl">
  <div id="content" class="page-content no-nav">
  {{content}}
  </div>
  <footer class="bg-dark keep-bottom p-3 text-white">
      <div class="d-flex justify-content-between align-items-center">
        <div>
            {% include social.html %}
        </div>
        <div class="d-flex">
          <checkbox class="btn btn-sm btn-link text-white" ng-model="autostart" ng-click="updateAutoStart()" lang="en">Show on next startup</checkbox>
          <button id="close" class="btn btn-sm btn-danger ml-3" ng-click="close()" lang="en"><i class="fa fa-times"></i> Close</button>
        </div>
      </div>
  </footer>
  <script src="app://theme/dist/js/chameleon.js"></script>
  <script src="app://js/jquery-lang.js"></script>
  <script src="app://js/jquery.rss.js"></script>
  <script src="app://js/search_methods.js"></script>
  <script src="lens://js/lens-angular.min.js"></script>
  <script src="app://js/app.js"></script>
</body>
</html>
