<div class="sticky-top">
    <div class="breadcrumb py-0 d-flex justify-content-between align-items-center">
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item active"><a href="#/main"><i class="fa fa-home"> </i>Home</a></li>
            <li class="breadcrumb-item active">Contribute</li>
        </ol>
    </div>
</div>
<div class="container">
      <h1 id="contribute-participate-in-opensuse"><strong>Contribute.</strong> Participate in openSUSE</h1>

<p>Whether you’re an experienced Linux developer or an end user just getting started with Linux, there are many ways for you to participate in the openSUSE project. Join a forum to get help or help others with openSUSE, find and report bugs, take over an issue from the release process, review the documentation, send your wish list for new packages and features, create and submit patches, or find other creative ways to contribute.</p>

<p>Whatever you do, take a few minutes to discuss openSUSE with other users and become an <a ng-click="openURI('https://en.opensuse.org/openSUSE:Members')" href="">active member</a>
 of the openSUSE community. For most activities a login is needed to enjoy all the fun. You might wish to create a user page and share some useful information or interests about you with others.</p>

<h2 id="be-part-of-the-opensuse-community">Be part of the openSUSE Community</h2>
<p>See where other <a ng-click="openURI('https://en.opensuse.org/Portal:Project')" href="">openSUSE community</a>
 members are located world-wide, get to know some People of openSUSE, find local openSUSE user groups, celebrate releases, learn about the governance structure and more. Follow <a ng-click="openURI('https://news.opensuse.org')" href="">openSUSE news</a>
 on our news site and see what our developers are up to on <a ng-click="openURI('https://planet.opensuse.org')" href="">Planet openSUSE</a>
!</p>

<h2 id="help-us-to-release-the-next-version-of-opensuse">Help us to release the next version of openSUSE</h2>
<p>For every release there is a <a ng-click="openURI('https://progress.opensuse.org/projects/')" href="">set of tasks</a>
 available. Some are complicated, some are easy to achieve, even for beginners. Look through the issues and tell someone from openSUSE if you found an adequate task.</p>

<h2 id="discuss-opensuse-and-help-other-users">Discuss openSUSE and help other users</h2>
<p>There are several active communities where you can discuss what is going on in openSUSE and help out other openSUSE users. We have mailing lists, IRC channels and forums. Please have a look at the <a ng-click="openURI('https://en.opensuse.org/openSUSE:Communication_channels')" href="">communication channels</a>
 for an overview.</p>

<h2 id="suggest-new-features-or-software">Suggest New Features or Software</h2>
<p>Visit <a ng-click="openURI('https://bugzulla.opensuse.org/Portal:Project')" href="">Bugzilla</a>
 our Feature- and Requirements Management System. Here you can get a sorted overview of things happening in upcoming products, follow and participate on the discussion by adding comments or work on features for the next product generation (version) and help to make openSUSE an even better Linux distribution.</p>

<h2 id="spread-the-word">Spread the word</h2>
<p>Be sure to spread the word on openSUSE and help others to benefit from it too! openSUSE offers a great Linux distribution and many other technologies like our <a ng-click="openURI('https://build.opensuse.org/Portal:Project')" href="">build service</a>
 which can help home users as well as sys admins and developers to get work done and have fun. Blog about openSUSE, tell your friends and family and help them install it!</p>


</div>
