<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <ol class="breadcrumb">
        <div class="btn-group pull-right">
          <button class="btn btn-xs btn-default btn-google-plus" ng-click="openURI('https://plus.google.com/+KororaProjectOrg')"><i class="fa fa-fw fa-google-plus"></i></button>
          <button class="btn btn-xs btn-default btn-facebook" ng-click="openURI('https://www.facebook.com/kororaproject')"><i class="fa fa-fw fa-facebook"></i></button>
          <button class="btn btn-xs btn-default btn-twitter" ng-click="openURI('https://twitter.com/kororaproject')"><i class="fa fa-fw fa-twitter"></i></button>
        </div>
        <li><a href="#/main">Home</a></li>
        <li class="active">New Features</li>
      </ol>
      <h1 class="page-title"><strong>Features.</strong> What's New?</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">

      <h2>GNOME 3.20</h2>
      The <p>Korora 24 release features GNOME 3.20, with many usability improvements such as easier input device and printer settings, a better search interface, shortcut windows for keyboard commands, and more convenient music controls.</p>

      <h2>Flatpak</h2>
      <p>Flatpak (formerly xdg-app) is another building-block feature, with Software able to track installed Flatpaks and adding more features in the future as the technology develops. The Software app has also grown features to provide a full system upgrade directly from the desktop from one Fedora release to the next, and the ability to provide labeling as well as reviews of available software.</p>

      <h2>GCC 6.0</h2>
      <p>GCC 6.0 is packed with improvements and new features including additional warnings for misleading indentation, tautological comparisons, negative shits and shift overflows. Other new features include OpenMP 4.5 support, segment register support as well as defaulting to C++14. And of course, more optimizations and bugfixes than you can shake a stick at.</p>

      <h2>Network Manager 1.2</h2>
      <p>The NetworkManager team just released NetworkManager 1.2, and it is the biggest update in over a year. With almost 3500 commits since the previous major release (1.0), this release  delivers many new key features: less dependencies, improved Wi-Fi and IPv6 privacy, wider support for software devices, improved command line tool, better documentation, and support for multiple concurrent VPN sessions.</p>

      <h2>But wait, there's more ...</h2>
      <p>Derived from Fedora 24<a href="#footnote"><sup>1</sup></a>, Korora benefits from Fedora's long tradition of bringing the latest technologies to open source software users.</p>
      <p>A complete list with details of each new inherited feature is available at the <a ng-click="openURI('http://fedoraproject.org/wiki/Releases/24/ChangeSet')">Fedora 24 Change Set</a> page.
      <ul class="fa-ul clean">
        <li><i class="fa fa-li fa-check-square-o"></i><b>Node.js 5.10</b> Korora 24 will be updated to Node.js 5.10, the latest release of the platform built on Chrome's JavaScript runtime for easily building fast, scalable network applications.</li>
        <li><i class="fa fa-li fa-check-square-o"></i><b>Ruby 2.3</b> Rebase of Golang package to upcoming version 1.6 in Fedora 24, including rebuild of all dependent packages.</li>
        <li><i class="fa fa-li fa-check-square-o"></i><b>Golang 1.6</b> Golang was updated to the latest upstream 1.6 with all dependant packages being rebuilt with this latest version.</li>
        <li><i class="fa fa-li fa-check-square-o"></i><b>Mono 4.2</b> Update the Mono stack in Korora from to 4.2 which includes more adoption of Microsoft’s open source code gaining support for PPDB debugging format, a new threadpool implementation, runtime optimisations and extensive bug fixing.</li>
      </ul>
      <div class="callout callout-info">
        <p><a name="footnote"></a> <sup>1</sup> Korora is not provided or supported by the <a ng-click="openURI('http://fedoraproject.org/')">Fedora Project</a>. Official, unmodified Fedora software is available through the Fedora Project website.</em></p>
      </div>
    </div>
  </div>
</div>
