<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <ol class="breadcrumb">
        <div class="btn-group pull-right">
          <button class="btn btn-xs btn-default btn-google-plus" ng-click="openURI('https://plus.google.com/+KororaProjectOrg')"><i class="fa fa-fw fa-google-plus"></i></button>
          <button class="btn btn-xs btn-default btn-facebook" ng-click="openURI('https://www.facebook.com/kororaproject')"><i class="fa fa-fw fa-facebook"></i></button>
          <button class="btn btn-xs btn-default btn-twitter" ng-click="openURI('https://twitter.com/kororaproject')"><i class="fa fa-fw fa-twitter"></i></button>
        </div>
        <li><a href="#/main">Home</a></li>
        <li class="active">New Features</li>
      </ol>
      <h1 class="page-title"><strong>Features.</strong> What's New?</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h2>GNOME 3.22</h2>
      <p>Korora 25 includes GNOME 3.22 in its pre-release and in the Final version, coming soon. Helpful new features include multiple file renaming, a redesigned keyboard settings tool, and many other UI improvements across the environment. For full details, refer to the GNOME 3.22 release notes.</p>

      <h2>Cinnamon 3.2</h2>
      <p>Cinnamon 3.2, as the desktop environment ships with support for vertical panels, the ability to play sound effects when displaying notifications, revamped Keyboard applet, a setting for the new menu animations, and improved Xlet settings. Cinnamon 3.2 also comes with workspace switcher improvements, simplified background manager, keyboard navigation for context menus, updated appindicators and settings, support for displaying percentage next to the volume slider, vfade effect by default, as well as hover delay functionality to hot corners.</p>

      <h2>Wayland by default</h2>
      <p>Wayland is the replacement for the legacy X11 display system. Wayland has been under development for several years. While like most software it still has some bugs, we believe it’s ready to serve as a default that works for many users.</p>
      <p>Users can still select the old X11 system if necessary to avoid a problem that affects them.</p>

      <h2>But wait, there's more ...</h2>
      <p>Derived from Fedora 25<a href="#footnote"><sup>1</sup></a>, Korora benefits from Fedora's long tradition of bringing the latest technologies to open source software users.</p>
      <p>A complete list with details of each new inherited feature is available at the <a ng-click="openURI('http://fedoraproject.org/wiki/Releases/25/ChangeSet')">Fedora 25 Change Set</a> page.
      <ul class="fa-ul clean">
        <li class="text-justify"><i class="fa fa-li fa-check-square-o"></i><b>Golang 1.7</b> This release brings a new compiler back end, based on static single-assignment form (SSA), which has been under development for the past year. The compiler front end uses a new, more compact export data format, and processes import declarations more efficiently. In addition the compiler front end uses a new, more compact export data format, and processes import declarations more efficiently with observed speed ups with as much as 20 to 30%.</li>
        <li class="text-justify"><i class="fa fa-li fa-check-square-o"></i><b>Ruby on Rails 5.0</b> The most significant Rails 5.0 features: ActionCable: user can use WebSockets with the rest of your Rails application. API mode: uesr can create a Rails application for API server easily with API mode. Exclusive use of rails CLI over Rake. Add bin/rails test, bin/rails db:migrate. Now bin/rails is the one master command to rule them all. ActionRecord attributes: user can override ActiveRecord attributes if needed.</li>
        <li class="text-justify"><i class="fa fa-li fa-check-square-o"></i><b>PHP 7.0</b> That latest release of the PHP landscape brings a plethora of features including: improved performance with up to 100% speed increases over PHP 5.6, significantly reduced memory usage, abstract syntax tree, consistent 64-bit support, improved exception hierarchy, many fatal errors converted to exceptions, secure random number generator, removed old and unsupported sapis and extensions, the null coalescing operator (??), return and scalar type declarations, anonymous classes and zero cost asserts</li>
        <li class="text-justify"><i class="fa fa-li fa-check-square-o"></i><b>Perl 5.24</b>New features: Unicode 8.0 is now supported. An exception will be raised when closing an in-place output file fails. (?[ ]) will successfully compile when use locale is in effect. Integer shift (&lt;&lt; and &gt;&gt;) now more explicitly defined. Negative shifts are reverse shifts. printf and sprintf now allow reordered precision arguments. When passing the SA_SIGINFO flag to sigaction, the errno, status, uid, pid, addr and band fields are included in the hash passed to the handler, if supported by the platform. Hashbang redirection was extended also to Perl 6.</li>
      </ul>
      <div class="callout callout-info">
        <p><a name="footnote"></a> <sup>1</sup> Korora is not provided or supported by the <a ng-click="openURI('http://fedoraproject.org/')">Fedora Project</a>. Official, unmodified Fedora software is available through the Fedora Project website.</em></p>
      </div>
    </div>
  </div>
</div>
