<div class="sticky-top">
    <div class="breadcrumb py-0 d-flex justify-content-between align-items-center">
        <ol class="breadcrumb mb-0 btn-sm">
            
            <li class="breadcrumb-item active"><i class="fa fa-desktop"></i> {{system.distribution.version}}</li>
            <li class="breadcrumb-item active"><i class="fa fa-industry"></i> {{system.arch}}</li>
            <li class="breadcrumb-item active"><i class="fa fa-image"></i> {{system.distribution.desktop}}</li>
            
        </ol>
    </div>
</div>
<div class="container">
      <h1 id="ahoy-this-is-opensuse">Ahoy, this is openSUSE</h1>

<div class="row my-3">
    
    <div class="col-sm-4 btn-showcase my-auto">
        <h4>Documentation</h4>
            
            
            <a class="btn btn-block btn-primary" href="#!/readme"><i class="fa fa-book"></i> Read Me</a>
            
            <a class="btn btn-block btn-info" href="" ng-click="openURI('https://doc.opensuse.org/')"><i class="fa fa-external-link"></i> Online</a>
            
            <a class="btn btn-block btn-primary" href="" ng-click="command('gnome-help')" ng-show="isDE('gnome')"><i class="fa fa-life-ring"></i> Gnome Help</a>
            
            <a class="btn btn-block btn-primary" href="" ng-click="command('kde-help')" ng-show="isDE('kde plasma')"><i class="fa fa-life-ring"></i> Plasma Help</a>
            
            <a class="btn btn-block btn-primary" href="" ng-click="command('xfce-help')" ng-show="isDE('xfce')"><i class="fa fa-life-ring"></i> Xfce Help</a>
            
            
            
    </div>
    
    <div class="col-sm-4 btn-showcase my-auto">
        <h4></h4>
            
            
            <img class="w-75 mx-auto d-block" src="app://images/sinking.svg" />
            
    </div>
    
    <div class="col-sm-4 btn-showcase my-auto">
        <h4>Support</h4>
            
            
            <a class="btn btn-block btn-primary" href="" ng-click="openURI('https://en.opensuse.org/openSUSE:Communication_channels')"><i class="fa fa-group"></i> Engage</a>
            
            <a class="btn btn-block btn-primary" href="#!/contribute"><i class="fa fa-hand-o-up"></i> Contribute</a>
            
            <a class="btn btn-block btn-success" href="" ng-click="openURI('https://build.opensuse.org/')"><i class="fa fa-github-alt"></i> Build openSUSE</a>
            
            <a class="btn btn-block btn-primary" href="" ng-click="command('install')" ng-show="system.distribution.live"><i class="fa fa-hdd-o"></i> Install Korora</a>
            
            
            
    </div>
    
</div>

<p>If this is your first time using openSUSE, we would like you to feel right at home in your new voyage. Take your time to familiarize yourself with all the buttons and let us know how you like the experience on our <a class="" href="#!/socials">social media</a></p>


</div>
