<div class="sticky-top">
    <div class="breadcrumb py-0 d-flex justify-content-between align-items-center">
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item active"><a href="#/main"><i class="fa fa-home"> </i>Home</a></li>
            <li class="breadcrumb-item active">Read Me</li>
        </ol>
    </div>
</div>
<div class="container">
      <h2 id="installing-extras">Installing Extras</h2>
<p>There are certain proprietary drivers (such as nvidia) and packages (such as Google Chrome) that Korora cannot include by default. If you have an nvidia device and wish to use the proprietary drivers then enter following command at a terminal:</p>

<div class="highlighter-rouge"><div class="highlight"><pre class="highlight"><code>$ sudo dnf install akmod-nvidia
</code></pre></div></div>

<p>To install Google Chrome, just use the system’s package manager. We can’t distribute it, but we have included the repository to make it easy for you to install.</p>

<p>Looking for Skype? We cannot ship this either and unfortunately we also can’t make it easier like Google Chrome as there is no repository. However, just head over to <a class="" ng-click="openURI('https://skype.com')" href=""><i class="fa fa-external-link"> Skype’s website</i></a>
 to download the 32 bit RPM package for Fedora and double-click it to install. The package manager will take care of the dependencies for you, even if you’re running a 64 bit system.</p>

</div>
