<div class="sticky-top">
    <div class="breadcrumb py-0 d-flex justify-content-between align-items-center">
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item active"><a href="#/main"><i class="fa fa-home"> </i>Home</a></li>
            <li class="breadcrumb-item active">Social Media</li>
        </ol>
    </div>
</div>
<div class="container">
      <h2 id="social-media-how-to-reach-us">Social media. How to reach us!</h2>

<p>Most commonly used social medias are already listed in the footer, but here are some more you might find useful, alphabetically:</p>

<h3 id="discord">Discord</h3>

<p><a class="btn btn-discord" ng-click="openURI('https://discord.gg/openSUSE')" href=""><i class="fa fa-external-link"> Discord</i></a></p>

<h3 id="facebook">Facebook</h3>

<p><a class="btn btn-facebook" ng-click="openURI('https://www.facebook.com/groups/opensuseproject/')" href=""><i class="fa fa-external-link"> Facebook Group</i></a></p>

<h3 id="forums">Forums</h3>

<p><a class="btn btn-openSUSE" ng-click="openURI('https://forums.opensuse.org')" href=""><i class="fa fa-external-link"> openSUSE Forums</i></a></p>

<h3 id="google">Google+</h3>

<p><a class="btn btn-google-plus" ng-click="openURI('https://plus.google.com/u/0/communities/115444043324891769569')" href=""><i class="fa fa-external-link"> Google+ Community</i></a></p>

<h3 id="irc">IRC</h3>

<p><a class="btn btn-openSUSE" ng-click="openURI('irc://irc.opensuse.org/#opensuse')" href=""><i class="fa fa-external-link"> Tech Support</i></a></p>

<p><a class="btn btn-openSUSE" ng-click="openURI('irc://irc.opensuse.org/#opensuse-project')" href=""><i class="fa fa-external-link"> Project</i></a></p>

<p><a class="btn btn-openSUSE" ng-click="openURI('irc://irc.opensuse.org/#opensuse-factory')" href=""><i class="fa fa-external-link"> Factory</i></a></p>

<p><a class="btn btn-openSUSE" ng-click="openURI('irc://irc.opensuse.org/#opensuse-chat')" href=""><i class="fa fa-external-link"> Chat</i></a></p>

<h3 id="telegram">Telegram</h3>

<p><a class="btn btn-telegram" ng-click="openURI('https://t.me/openSUSE_group')" href=""><i class="fa fa-external-link"> openSUSE Group</i></a></p>

<p><a class="btn btn-telegram" ng-click="openURI('https://t.me/opensusenews')" href=""><i class="fa fa-external-link"> News</i></a></p>


</div>
