.keep-bottom {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    z-index: 1020;
}

body,html {
 min-height:100vh
}
body {
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-orient:vertical;
 -webkit-box-direction:normal;
 -ms-flex-flow:column;
 flex-flow:column
}
#content {
 margin-bottom:auto!important
}
