[Desktop Entry]
Type=Application
Name=Korora Welcome
Exec=/usr/bin/korora-welcome
Icon=korora-welcome
Comment=The Korora Welcome utility.
Categories=GTK;GNOME;Application;System;
