/*
** BUTTONS
*/

.btn-showcase { padding: 0 8px; }
.btn-showcase h4 { font-weight: 400; margin-top: 8px; text-align: center; }
.btn-showcase .btn { line-height: 32px; }

/*
** FOOTER OBJECTS
*/
footer .lens-checkbox {
  display: inline-block;
  margin-top: 4px;
}
