/* fonts */
@import url("fonts.css");

html {
}

/*
** WEBKIT CONTAINER HELPERS
*/
* {
  cursor: default;
}

a,
a > * {
  cursor: pointer;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

*:focus {
  outline: 0 !important;
}

/*
** SCROLLBARS - HANDLED IN GTK
*/

::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
}


/*
** TYPOGRAPHY
*/

body, button {
  font-family:'Open Sans';
}

p.no-space {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.center {
  text-align: center;
  vertical-align: middle;
}

.page-title > a {
  padding: 0 8px;
  margin-right: 8px;
  color: #000;
  border: 1px solid #e0e0e0;
  border-left: 0;
  border-radius: 2px;
}

.page-title > a:hover {
  text-decoration: none;
  background-color: #f0f0f0;
}

/*
** BUTTONS
*/

.btn {
  border-radius: 2px;
}

.btn-dark {
  color: #fff;
  background-color: #202020;
  border-color: #404040;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active,
.btn-dark.active,
.open .dropdown-toggle.btn-dark {
  color: #fff;
  background-color: #171717;
  border-color: #373737;
}

.btn-showcase {
  padding: 0 8px;
}

.btn-showcase h4 {
  text-align: center;
}

.btn-showcase .btn {
  line-height: 32px;
}

/*
** LOGOS / IMAGES
*/
.kp-logo {
  display: inline-block;

  height: 48px;
  padding-left: 63px; /* +30 for collapse padding */
  background-image: url('../img/kp-logo.png');
  background-size: 32px 32px;
  background-repeat: no-repeat;
  background-position: center 8px;
  line-height: 48px;
  font-size: 36px;
  font-weight: 300;

  color: #fff;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
}

.kp-logo span {
  color: #b7b7b7;
}

.kp-logo-48 {
  height: 48px;
  width: 48px;

  background-image: url('../img/kp-logo.png');
  background-size: 42px 42px;
  background-repeat: no-repeat;
  background-position: right center;
}

/*
** KOROBAR / NAVIGATION BAR
*/

#korobar {
  position: absolute;
  width: 100%;
}

.navbar {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
  background-color: #428bca;
  border-color: #357ebd;
  color: #fff;
}

.nav-tabs.nav-justified > li.active > a {
  border-bottom-color: #357ebd;
}

.nav-tabs > li > a {
  -moz-border-radius: 2px 2px 0 0;
  -webkit-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
}

.navbar-default {
  background-color: #428bca;
  border-color: #357ebd;
  color: #fff;

  box-shadow: 0px 4px 16px #111;
}

.navbar-default .glyphicon {
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .6);
}

.navbar-default .navbar-nav>.dropdown>a .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}

.navbar-default .navbar-nav>.open>a .caret,
.navbar-default .navbar-nav>.open>a:hover .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .6);
}

.navbar-default .navbar-nav>li>a:hover {
  color: #fff;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  background-color:#3276b1;
  color: #fff;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
  background-color:#3276b1;
  color: #fff;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  background-color:#3276b1;
  color: #fff;
}

.navbar-default .nav-home {
  border-right: 2px solid #3276b1;
  border-left: 2px solid transparent;
}

/*
** CONTENT OBJECTS
*/

.page-container {
  min-height: 100%;
  padding-bottom: 32px;
  margin-bottom: 64px; /* footer height */

  background-color: #fff;
  box-shadow: 0px 4px 16px #111;
}

.page-content {
  padding-top: 64px;
}

.divider {
  padding-top: 16px;
  background: url("../img/header-shadow.png") center 0 no-repeat;
}

#content h2 {
  font-size: 24px;
}

#content h3 {
  font-size: 20px;
}


/*
** FOOTER
*/

footer {
  width: 100%;
  height: 64px;

  padding: 16px 0;

  background: #333;
  position: fixed;
  z-index: -1000;
  bottom: 0;

  color: #fff;
}

footer ul {
  list-style-type: none;
  padding-left: 0;
}

footer li {
}

footer p {
  font-size: 12px;
}

footer a,
footer a:hover,
footer a:active,
footer a:visited {
  color: #428bca;
  text-shadow: 1px 1px 2px rgba(55, 55, 55, .6);
}

footer .site-map {
  margin-bottom: 16px;
}

/*
** FOOTER OBJECTS
*/
footer .form {
  display: inline-block;
  position: absolute;
  right: 8px;
}

footer .form a {
  color: #fff;
  text-decoration: none;
  margin-right: 8px;
}

footer label {
  display: inline-block;

  padding-left: 0;
  margin-bottom: 0;
  vertical-align: middle;
  margin-right: 8px;
  color: #fff;
}

#toggle_autostart {
  margin-top: 8px;
}

#social {
  display: inline-block;
  margin: 6px 0px 0 0;
}

#social img {
  position: relative;
  top: 0px;
  opacity: 0.7;

  -webkit-backface-visibility: hidden;
  transition: all 0.2s ease-in-out;

  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-delay: initial;
}

#social img:hover {
  top: -4px;
  opacity: 1.0;
}
