/*
** IMPORTS
*/

/* fonts */
@import url("fonts.css");

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

html {
  overflow-y: scroll;
}

/*
** WEBKIT CONTAINER HELPERS
*/
* {
  cursor: default;
}

a,
a > * {
  cursor: pointer;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

*:focus {
  outline: 0 !important;
}

pre {
  background-color: #f8f8ff;
}


/*
** SCROLLBARS - HANDLED IN GTK
*/

::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
}

::-webkit-scrollbar-track {
  background: rgba(192, 192, 192, 0.4);
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  -webkit-border-radius: 2px;

  background: rgba(128, 128, 128, 0.4);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(128, 128, 128, 0.4);
}

/*
** MODALS
*/
body.modal-open,
.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom {
  margin-right: 0;
}

.modal-dialog-responsive {
  width: 75%;
  min-width: 600px;
}

/*
** FONTS
*/
body, button {
  font-family:'Open Sans';
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family:'Open Sans';
  font-weight: 300;
}

p {
  text-align: justify;
}

p.feature-block {
  font-size: 16px;
  text-align: center;
}

blockquote.title p {
  font-size: 18px;
  text-align: left;
}

.alert .alert-link {
  font-weight: 600;
}


/*
** ICONOGRAPHY
*/

.fa-fwl {
  width: 1.28571428571em;
  text-align: left;
}

/*
** TYPOGRAPHY
*/

.rss {
  color: #ff7f00;
}

.breadcrumb {
  font-size: 12px;
  padding: 4px 0px;
  background-color: #fff;
}

.breadcrumb > .active {
  color: #000;
}

.form-control {
  font-size: 16px;
}

p.no-space {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.center {
  text-align: center;
  vertical-align: middle;
}

.page-title > a {
  padding: 0 8px;
  margin-right: 8px;
  color: #000;
  border: 1px solid #e0e0e0;
  border-left: 0;
  border-radius: 2px;
}

.page-title > a:hover {
  text-decoration: none;
  background-color: #f0f0f0;
}

b,
strong {
  font-weight: 600;
}

.page-title {
  margin-bottom: 32px;
  text-align: center;
}

.page-title a:hover,
.page-title a {
  color: inherit;
  text-decoration: none;
}

.subtitle {
  margin-top: 0;
}

blockquote > *:first-child {
  margin-top: 0;
}

blockquote p {
  font-size: inherit;
}

/*
** BUTTONS
*/

.btn {
  border-radius: 2px;
}

.btn-dark {
  color: #fff;
  background-color: #202020;
  border-color: #404040;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active,
.btn-dark.active,
.open .dropdown-toggle.btn-dark {
  color: #fff;
  background-color: #171717;
  border-color: #373737;
}

.btn-showcase {
  padding: 0 8px;
}

.btn-showcase h4 {
  text-align: center;
}

.btn-showcase .btn {
  line-height: 32px;
}

/*
** LISTS
*/
.fa-ul > li {
  margin-bottom: 5px;
}

.fa-li {
  top: .36em;
}

/*
** HIGHLIGHTS
*/

.hi {
  background-color: #ddd;
}
.spaces {
  background-color: #ffff7f;
}

/*
** INPUT
*/
.form-control-generic {
  height: inherit;
}

/*
** MODALS
*/
.modal-header {
  background-color: #428bca;
  color: #fff;
}

.modal-footer {
}

.modal-tab-content {
  padding: 16px 0 0 0 !important;
  margin-bottom: 0 !important;
}

/*
** LOGOS / IMAGES
*/
#banner {
  background-color: #428bca;

  color: #fff;
}

.kp-logo {
  display: inline-block;

  height: 48px;
  padding-left: 48px;
  background-image: url('../img/kp-logo.png');
  background-size: 32px 32px;
  background-repeat: no-repeat;
  background-position: center 8px;
  line-height: 48px;
  font-size: 36px;
  font-weight: 300;

  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .6);
}

.kp-logo span {
  color: #bbb;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
}

.kp-logo-48 {
  height: 48px;
  width: 48px;

  background-image: url('../img/kp-logo.png');
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: right center;
}

/*
** CALLOUTS
*/
.callout {
  margin: 0 0 10px;
  padding: 16px;
  border-left: 3px solid #eeeeee;
  border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  -webkit-border-radius: 0 2px 2px 0;
}
.callout .code,
.callout .highlight {
}
.callout > h1:first-child,
.callout > h2:first-child,
.callout > h3:first-child,
.callout > h4:first-child {
  margin-top: 4px;
  margin-bottom: 8px;
}
.callout p:last-child {
  margin-bottom: 0;
}

.callout-problem,
.callout-danger {
  background-color: #fdf7f7;
  border-color: #eed3d7;
}
.callout-problem h4,
.callout-danger h4 {
  color: #b94a48;
}
.callout-question,
.callout-warning {
  background-color: #faf8f0;
  border-color: #faebcc;
}
.callout-question h4,
.callout-warning h4 {
  color: #c09853;
}
.callout-idea,
.callout-info {
  background-color: #f4f8fa;
  border-color: #bce8f1;
}
.callout-idea h4,
.callout-info h4 {
  color: #3a87ad;
}

.callout-thank,
.callout-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.callout-thank h4,
.callout-success h4 {
  color: #468847
}

/*
** KOROBAR / NAVIGATION BAR
*/

#korobar {
  position: absolute;
  width: 100%;
}

.navbar {
  border-radius: 0;
  z-index: 1039;
}

.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
  background-color: #428bca;
  border-color: #357ebd;
  color: #fff;
}

.nav-tabs.nav-justified > li.active > a {
  border-bottom-color: #357ebd;
}

.nav-tabs > li > a {
  -moz-border-radius: 2px 2px 0 0;
  -webkit-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
}

.navbar-default {
  background-color: #428bca;
  border-color: #357ebd;
  color: #fff;

  box-shadow: 0px 4px 16px #111;
}

.navbar-default .glyphicon {
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .6);
}

.navbar-default .navbar-nav>.dropdown>a .caret,
.navbar-default .navbar-nav>.dropdown>a:hover .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}

.navbar-default .navbar-nav>.open>a .caret,
.navbar-default .navbar-nav>.open>a:hover .caret,
.navbar-default .navbar-nav>.open>a:focus .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .6);
}

.navbar-default .navbar-nav>li>a:hover {
  color: #fff;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  background-color:#3276b1;
  color: #fff;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
  background-color:#3276b1;
  color: #fff;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  background-color:#3276b1;
  color: #fff;
}


.navbar-nav>li>.dropdown-menu {
  border-color: #357ebd;
  background-color:#3276b1;
}

.dropdown-menu {
  border-radius: 2px;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a {
  color: #fff;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
  background-color: #428bca;
  color: #fff;

  text-shadow: 1px 1px 2px rgba(0, 0, 0, .6);
}

.navbar-default .nav-home {
  border-right: 2px solid #3276b1;
  border-left: 2px solid transparent;
}

.nav a.user-avatar {
  padding: 9px 15px;
}

/*
** CONTENT OBJECTS
*/

.page-container {
  min-height: 100%;
  padding-bottom: 32px;
  margin-bottom: 64px; /* footer height */

  background-color: #fff;
  box-shadow: 0px 4px 16px #111;
}

.page-content {
  min-height: 100%;
  max-width: 1170px;

  margin: 0 auto;
  padding-top: 64px; /* match bottom padding of page-container */
}

.hr {
  display: block;
  content: "&nbsp;";
  height: 4px;
}
.hr-xs {
  height: 4px!important;
}
.hr-sm {
  height: 16px!important;
}
.hr-md {
  height: 24px!important;
}
.hr-lg {
  height: 32px!important;
}



.icons-ul {
  padding-left: 0;
}

.divider {
  padding-top: 16px;
  background: url("../img/header-shadow.png") center 0 no-repeat;
}

#content h2 {
  font-size: 24px;
}

#content h3 {
  font-size: 20px;
}


/*
** FOOTER
*/

footer {
  width: 100%;
  height: 64px;

  padding: 16px 0;

  background: #333;
  position: fixed;
  z-index: -1000;
  bottom: 0;

  color: #fff;
}

footer ul {
  list-style-type: none;
  padding-left: 0;
}

footer li {
}

footer .copyright {
  margin: 0;
  line-height: 24px;
}

footer .copyright > a,
footer .copyright > a:hover,
footer .copyright > a:active,
footer .copyright > a:visited {
  color: #fff;
  font-weight: 600;
}

footer p {
  font-size: 12px;
}

footer a,
footer a:hover,
footer a:active,
footer a:visited {
  color: #428bca;
  text-shadow: 1px 1px 2px rgba(55, 55, 55, .6);
}

footer .site-map {
  margin-bottom: 16px;
}

/*
** FOOTER OBJECTS
*/
footer .form {
  display: inline-block;
  position: absolute;
  right: 8px;
}

footer .form a {
  color: #fff;
  text-decoration: none;
  margin-right: 8px;
}

footer label {
  display: inline-block;

  padding-left: 0;
  margin-bottom: 0;
  vertical-align: middle;
  margin-right: 8px;
  color: #fff;
}

#toggle_autostart {
  margin-top: 8px;
}

#social {
  display: inline-block;
  margin: 6px 0px 0 0;
}

#social img {
  position: relative;
  top: 0px;
  opacity: 0.7;

  -webkit-backface-visibility: hidden;
  transition: all 0.2s ease-in-out;

  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-delay: initial;
}

#social img:hover {
  top: -4px;
  opacity: 1.0;
}
