[Desktop Entry]
Type=Application
Name=Welcome
Exec=/usr/bin/opensuse-welcome
Hidden=true
Icon=system-help
Comment=The openSUSE Welcome utility.
Categories=Qt;System;Documentation
GenericName=Welcome Utility
