/*
** CLOAKING - ANGULARJS
*/

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/*
** SCROLLBARS - HANDLED IN GTK
*/

::-webkit-scrollbar {
  width: 4px !important;
  height: 4px !important;
}

::-webkit-scrollbar-track {
  background: rgba(192, 192, 192, 0.4);
}

::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.4);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(128, 128, 128, 0.8);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(128, 128, 128, 0.4);
}

/*
** BUTTONS
*/
.btn-reddit { color: #ff7f00; background-color: #fff; }
.btn-reddit:hover { color: #fff; background-color: #ff7f00; }
.btn-google-plus { color: #dd4b39; background-color: #fff; }
.btn-google-plus:hover { color: #fff; background-color: #dd4b39; }
.btn-facebook { color: #3b5998; background-color: #fff; }
.btn-facebook:hover { color: #fff; background-color: #3b5998; }
.btn-twitter { color: #4099ff; background-color: #fff; }
.btn-twitter:hover { color: #fff; background-color: #4099ff; }
.btn-openSUSE { color: #73ba25; background-color: #fff; }
.btn-openSUSE:hover { color: #fff; background-color: #73ba25; }
.btn-discord { color: #6375B7; background-color: #fff; }
.btn-discord:hover { color: #fff; background-color: #6375B7; }
.btn-telegram { color: #32AFED; background-color: #fff; }
.btn-telegram:hover { color: #fff; background-color: #32AFED; }

/*
** CHECKBOX/RADIO
*/
.lens-checkbox *,
.lens-radio * {
  cursor: pointer;
}

.lens-checkbox .lens-checkbox-icon,
.lens-radio .lens-radio-icon {
  text-align: left;
}

.lens-checkbox .lens-checkbox-label,
.lens-radio .lens-radio-label {
  display: inline-block;
  margin-left: 4px;
}

